<h1>burgers</h1>
<ul class="display_burger">
    {{#each burger}}
        <p>{{burger_name}}</p>
    {{/each}}
</ul>

<form>  
    <input class="burgerInput" type="text">
    <button type="submit" class="submit">submit</button>
</form>
